
@{
    ViewBag.Title = "صارم چاپ | درباره ما";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="page-banner" style="padding:40px 0; background: url(../Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="breadcrumbs" style="width:100%; text-align:right">
                    <li>درباره ما</li>
                    <li><a href="/">صفحه اصلی</a></li>
                </ul>
            </div>
            <div class="col-md-6" style="text-align:right">
                <h2>درباره ما</h2>
                <p>مرکز چاپ نوین</p>
            </div>

        </div>
    </div>
</div>

<div class="container" style="margin-top:30px;text-align:right">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>بهترین، زیباترین، مدرن ترین</span></h4>

                <!-- Some Text -->
                <p>این سه ویژگی از صفات بارز چاپ صارم می باشد. ما بهترین، زیباترین و مدرن ترین خدمات چاپ را به شما ارائه خواهیم داد. در این برهه از زمان که شرکت ها کمتر به خواسته ی مشتری توجه دارند ما با اولویت نیاز مشتری و توجه به خروجی کار خویش در این عرصه پا گذاشته ایم و نشان داده ایم که در زمینه از هر شرکت دیگری مورد اعتماد تر می باشیم.</p>
                <br />
                <p>همواره در تولیدات خود بهترین کیفیت را در نظر گرفته ایم و این نکته را همیشه سرلوحه ی کار خویش قرار داده ایم که از بهترین مواد و بهترین جنس استفاده نمائیم. وسواس در انتخاب جنس و همچنین رنگ های مورد استفاده و همچنین دستگاه های بروز و جدید باعث گردیده کیفیت ما همواره در صدر باشد.</p>
                <br />
                <p>تمامی پرسنل چاپ صارم کاملا متبحر و متخصص هستند و از بین دقیق ترین و بهترین متخصصین این حوزه گرد هم آمده اند تا بهترین خدمات را به شما ارائه دهند. وجود دید هنری و زبردستی باعث گردیده همواره روح زیبائی و لطافت در تمامی محصولات چاپ صارم متبلور باشد. ما همواره با علم روز حرکت نموده و با اطلاع از روش های جدید چاپ و همچنین استفاده از متدهای هنری جدید محصولات مدرنی را ارائه خواهیم نمود.</p>
                <br />
                <p>چاپ صارم متولد شده تا همه چیز را برای شما ساده تر و زیباتر نماید. ما خدمات بسیار گسترده و متنوعی را به شما ارائه خواهیم داد. انواع خدمات چاپ به روش های نوینی که در کمتر چاپخانه ای به چشم می خورد و انجام آن نیازمند بکارگیری هنر و ظرافت می باشد.</p>
                <br />
                <p>چاپ روی انواع پارچه، تیشرت و لباس با جنس های مختلف شامل اسپان، جودون و پنبه ای با کیفیت و چاپ عالی که تیشرت های تبلغیاتی را شامل می شود یکی از خدمات حرفه ای چاپ صارم است. شما می توانید عکس و لوگوی خود را با استفاده از خدماتی که ما در اختیار شما قرار می دهیم روی تی شرت چاپ نمائید.</p>
                <br />
                <p>چاپ روی انواع کاشی و سرامیک در ابعاد مختلف و قابل استفاده در فضاهای مختلف با رنگ های متنوع و جذاب و قابلیت چاپ در ابعاد بسیار بزرگ با چیدن کاشی ها در کنار یکدیگر به صورت پازلی از دیگر خدمات چاپ صارم می باشد. از این خدمات نیز می توانید برای چاپ پروژه های شهری، تابلوکاشی، و یا چاپ عکس استفاده نمائید. ما خدمات نوینی را به شما معرفی خواهیم کرد. چاپ روی انواع ظروف شامل لیوان، بشقاب و انواع ظروف پذیرائی از دیگر خدمات هنری چاپ صارم می باشد.</p>
                <br />

            </div>
        </div>
    </div>
</div>
