@{
    ViewBag.Title = "شماره حساب";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="page-banner" style="padding:40px 0; background: url(../Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="breadcrumbs" style="width:100%; text-align:right">
                    <li>شماره حساب</li>
                    <li><a href="/">صفحه اصلی</a></li>
                </ul>
            </div>
            <div class="col-md-6" style="text-align:right">
                <h2>شماره حساب</h2>
                <p>مرکز چاپ نوین</p>
            </div>

        </div>
    </div>
</div>

<div class="container" style="text-align:right; margin-top:30px;margin-bottom:30px">

    <div class="row">

        <div class="col-md-4 pricing-tables">

            <!-- Classic Heading -->


            <div class="pricing-table">
                <div class="plan-name">
                    <h3>اطلاعات مربوط به حساب بانکی</h3>
                </div>
                <div class="plan-price">
                    <div class="price-value">بانک ملی</div>
                    <div class="interval">شعبه مخابرات</div>
                </div>
                <div class="plan-list">
                    <ul>
                        <li><strong>نام صاحب حساب : </strong>جلیل عطایی کریمی</li>
                        <li><strong>شماره حساب : </strong>0102407244001</li>
                        <li><strong>شماره کارت : </strong>6037997146820957</li>
                    </ul>
                </div>
                <div class="plan-signup">
                    <a href="#" class="btn-system btn-small"><i class="fa fa-credit-card "></i> </a>
                </div>
            </div>

        </div>

        <div class="col-md-8">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>اطلاعات پرداخت</span></h4>

            <p>
                پیشنهاد می کنیم جهت واریز هزینه سفارش خود بسادگی از درگاه آنلاین که در بخش پائینی سایت تعبیه شده است استفاده نمائید. اگر به پائین همین صفحه نگاهی بیاندازید در بخش سمت راست درگاه آنلاین را مشاهده خواهید نمود. این درگاه کاملا امن می باشد و در وقت شما صرفه جوئی خواهد کرد.

                اما در صورتی که به اطلاعات حساب خود جهت واریز آنلاین اطلاع ندارید می توانید هزینه ی مربوط به را از طریق شماره کارت و یا شماره حساب زیر از طریق عابربانک و یا مستقیما از طریق بانک واریز فرمائید. لطفا در نظر داشته باشید که حداقل واریز 40 درصد از مبلغ کل به عنوان پیش پرداخت به جهت انجام سفارش شما ملزوم است.
            </p>


            <img class="img-thumbnail" src="~/Content/images/parent-child-support.jpg" />
        </div>


    </div>

</div>

