
@{
    ViewBag.Title = "حفظ حریم شخصی";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="page-banner" style="padding:40px 0; background: url(../Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="breadcrumbs" style="width:100%; text-align:right">
                    <li>حفظ حریم شخصی</li>
                    <li><a href="/">صفحه اصلی</a></li>
                </ul>
            </div>
            <div class="col-md-6" style="text-align:right">
                <h2>حفظ حریم شخصی</h2>
                <p>مرکز چاپ نوین</p>
            </div>

        </div>
    </div>
</div>

<div class="container" style="margin-top:30px;text-align:right">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>حفظ حریم شخصی</span></h4>

                <ol style="direction:rtl;list-style:upper-roman;line-height:2">
                    <li>چاپ صارم تعهد می نماید که تمامی اطلاعات ارسال شده توسط سفارش دهندگان در فرم سفارشات شامل نام، ایمیل، آدرس و فایل را  به صورت کاملا دقیق محافظت نموده و در اختیار هیچ شخص، سازمان و یا گروهی قرار ندهد و حقوق مادی و معنوی تمامی فایل های ارسال شده به طور کامل رعایت و حفظ خواهد گردید.</li>
                    <li>کارکنان چاپ صارم همگی از افراد متخصص و همچنین امین با وسواس بسیار زیاد دست چین و استخدام شده اند و در قبال نگهداری صحیح فایل ها و حفظ امنیت آنها نیز تعهد داده اند و از آنها تضمین حقوقی و مالی گرفته شده است. لذا در این مورد هیچگونه نگرانی وجود نخواهد داشت.</li>

                    <li>اما چاپ صارم هیچ مسئولیتی را در قبال حقوق واقعی فایل هائی که ارسال شده اند نخواهد پذیرفت. و نقص حقوق مادی و معنوی فایلی که ارسال شده به عهده ارسال کننده خواهد بود. یعنی در صورتی که فایل ارسالی مربوط به هنرمند و یا شخصی بود که از استفاده ی آن رضایت نداشت چاپ صارم در این مورد مسئولیتی نمی پذیرد. لذا صرف نظر از اینکه عکس ارسالی چه محتوائی دارد و یا در اصل مربوط به چه کسی می باشد برای ارسال کننده چاپ خواهد شد. پس خواهشمند است در این مورد دقت فرمائید.</li>

                    <li> چاپ صارم به هر عنوان از چاپ عکس و یا متن های مسـتهجن و دارای محتوای مجرمانه معذور است.</li>

                    <li>تمامی اطلاعات ارسالی که در سیستم سفارشات سایت چاپ صارم ثبت می شود بعد از اینکه چاپ و به سفارش دهنده تحویل گردید بعد از 2 هفته به طور کامل حذف خواهد گردید و غیرقابل بازیابی می باشد. مگر در مواردی که سفارش دهنده خواهان نگهداری فایل جهت چاپ و یا استفاده مجدد باشد. بنابراین در صورتی که تمایل دارید فایل شما نزد ما نگهداری شود حتما این موضوع را در فرم ثبت سفارش مرقوم فرمائید.</li>

                    <li>چاپ صارم متعهد می شود بدون اجازه از طرح ارسالی توسط سفارش دهندگان برای فروش در سایت استفاده ننماید.</li>
                    <li> چاپ صارم تمامی سفارشات ارسال شده را به طور کامل و تا ارسال به دست سفارش دهنده پیگیری خواهد نمود اما در صورتی که بیش از یک هفته از ارسال سفارش گذشته باشد و سفارش دهنده در دسترس نبوده، فرم سفارش را ناقص پر کرده باشد و یا پیگیر سفارش خویش نباشد هیچ گونه مسئولیتی در قبال آن نخواهد داشت. لذا تکمیل فرم سفارش و همچنین در دسترس بودن سفارش دهنده جهت پیگیری، انجان و ارسال سفارش ملزوم است.</li>
                    <li>فایل های ارسالی بدون تغییر و به همان شکلی که توسط ارسال کننده فرستاده شده است چاپ می شود و در صورتی که عکس های ارسالی دارای کیفیت و مشخصات مناسب نباشند، چاپ صارم هیچ گونه مسئولیتی در قبال عدم کیفیت نهای آنها در هنگام چاپ نخواهد داشت. لذا فایل های ارسالی حتما باید با کیفیت مطلوب و مناسب ارسال شوند.</li>
                    <li>در صورتی که عکس های ارسالی توسط سفارش دهنده، نیاز به تغییر و یا طراحی خاصی داشت و یا خود سفارش دهنده برای نیاز به طرحی داشت هزینه ی مربوطه طبق عرف و طی هماهنگی از سفارش دهنده اخذ خواهد گردید.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

