
@{
    ViewBag.Title = "قوانین ارجاع و تعویض";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="page-banner" style="padding:40px 0; background: url(../Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="breadcrumbs" style="width:100%; text-align:right">
                    <li>قوانین ارجاع و تعویض</li>
                    <li><a href="/">صفحه اصلی</a></li>
                </ul>
            </div>
            <div class="col-md-6" style="text-align:right">
                <h2>قوانین ارجاع و تعویض</h2>
                <p>مرکز چاپ نوین</p>
            </div>

        </div>
    </div>
</div>

<div class="container" style="margin-top:30px;text-align:right">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>قوانین ارجاع و تعویض</span></h4>

                <ol style="direction:rtl;list-style:upper-roman;line-height:2">
                    <li>
                        . فایل های ارسالی شما بدون تغییر و به همان صورتی که برای ما فرستاده اید چاپ می شود و در صورتی که عکس یا عکس های ارسالی دارای کیفیت مناسب نباشند، چاپ صارم هیچ گونه مسئولیتی در قبال عدم کیفیت آنها نخواهد داشت. لذا لازم است فایل ها حتما باید با کیفیت مطلوب ارسال نمائید.
                    </li>
                    <li> در صورتی که عکس های ارسالی نیاز به تغییر داشته باشند و یا سفارش دهنده نیاز به طراحی داشته باشد این کار از طریق واحد طراحی چاپ صارم انجام شده و هزینه ی مربوطه طی هماهنگی از مشتری اخذ خواهد شد.</li>
                    <li>شما مسئول تغییرات درخواستی از واحد طراحی چاپ صارم روی عکس می باشید. لذا در صورتی که تغییرات درخواستی باب میل شما واقع نگردید. انجام تغییرات مجدد و یا تغییرات ثانوی شامل هزینه مجدد خواهد بود. به همین علت سعی نمائید تا ایده نهائی و یا نظر قطعی خود را بعد از بررسی به واحد طراحی اعلام بفرمائید.</li>
                    <li>محصولات پخت بالا شامل کاشی و سرامیک ه فضای بیرونی توسط شرکت چاپ صارم دارای 1 سال ضمانت ثبات رنگ می باشند لذا در صورتی که در محصولات ذکر شده نقصی در اثر عواملی که شامل ضمانت می شود بوجود بیاید چاپ صارم خود را ملزم به انجام مجدد آن خواهد نمود. لازم به ذکر است که مشتری باید نمونه ای را که دچار مشکل شده است جهت بررسی به شرکت مرجوع نماید.</li>
                    <li>در سفارشات تعداد و متراژ زیاد، در صورتی که برروی کیفیت محصولات خود حساس هستید قبل از چاپ نهائی یک محصول به عنوان تست برای شما چاپ می شود. این مورد توسط چاپ صارم توصیه می شود. زیرا باعث می گردد شما تصویر دقیقی از محصولی که دریافت خواهید نمود داشته باشید</li>
                    <li>ایجاد اشکال در هنگام ارسال با پست و یا باربری به عهده شرکت نمی باشد.</li>
                    <li>در صورتی که چاپ صارم به دلایلی که خارج از اراده ی او می باشد، توان تحویل کالا را در موعد مقرر نداشته باشد و طرفین درباره یک موعد جدید به توافق نرسند، خریدار حق دارد بدون هیچگونه هزینه ای سفارش را فسخ نماید.</li>
                    <li>در صورتی که تحویل کالا در مکان و موعد مقرر صورت نگیرد، خریدار حق مطالبه ی مبلغ واریزی را خواهد داشت.</li>
                    <li>هرگونه نقص و ایراد در محصولات ارسالی باید حداکثر تا 48 ساعت به مرکز پشتیبانی چاپ صارم گزارش گردد.</li>
                    <li>ارائه ی فاکتور خرید از چاپ صارم هنگام ارجاع الزامی است.</li>
                    <li>
                        در صورتی که کالا به علت اشتباه کارکنان چاپ صارم به آدرسی غیر از آدرس مشتری ارسال شده باشد هزینه های مربوط به ارجاع آن به عهده ی چاپ صارم می باشد.
                    </li>
                    <li> در صورتی که مشتری در درج آدرس خویش دچار اشتباه شود چاپ صارم مسئولیتی در مورد آن نخواهد داشت.</li>
                    <li>در صورتی که کالائی به صورت واسطه ای از چاپ صارم خریداری شده باشد هیچ گونه مسئولیتی در قبال آن نخواهد داشت. لذا فاکتور باید به نام شخص مرجوع کننده باشد.</li>
                    <li> تا زمانی که بیعانه ای برای سفارش ایجاد نشده است امکان لغو آن وجود دارد.</li>
                    <li> بعد از واریز هزینه امکان لغو سفارش وجود نخواهد داشت.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

