<div class="tilePrint">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-animation="flipInY" data-animation-delay="01">
                <div class="ftilepic">
                    Digital
                    <br>
                    Ceramic
                    <br>
                    Art
                </div>
            </div>
            <div class="col-md-6" data-animation="flipInX" data-animation-delay="01">
                <div class="tilePrintlink">
                    <span class="hvr-float-shadow">
                        ارائه دهنده خدمات تخصصی چاپ روی کاشی و سرامیک

                        <span class="fa fa-check wk"></span>
                    </span>
                    <br>
                    <span class="hvr-float-shadow">
                        کاشی پخت سوم با چاپ دیجیتال

                        <span class="fa fa-check wk"></span>
                    </span>

                    <br>
                    <span class="hvr-float-shadow">
                        چاپ روی کاشی با دو روش متفاوت

                        <span class="fa fa-check wk"></span>
                    </span>
                </div>
                <br>
                <br>

                <a class="hvr-grow-shadow" href="#">چاپ کاشی فضای درونی</a>
                <a class="hvr-grow-shadow" href="#">چاپ کاشی فضای بیرونی</a>
            </div>

        </div>
    </div>
</div>


