<hr />
<div class="section service">
    <div class="container">
        <h2 class="text-right" style="direction:rtl" data-animation="slideInRight" data-animation-delay="02"> نگاهی کوتاه به چاپ صارم... </h2>
        <br />
        <div class="row">

            <div class="col-md-4" data-animation="flipInY" data-animation-delay="04">
                <img src="../Content/images/tileceram.png" class="img-thumbnail" />
            </div>
            <div class="col-md-8" data-animation="zoomIn" data-animation-delay="10">
                <div class="hangut-section">
                    <h3>
                        <i class="fa fa-quote-right"></i>
                        چاپ صارم با تفکر ارائه راهکارهای مدرن در صنعت چاپ دیجیتال بوجود آمده است .
                        چاپ تصاویر دیجیتال تمام رنگی برروی کاشی و ظروف شامل لیوان بشقاب پیش دستی و ست پذیرائی
                        چاپ طرح های گوناگون برروی پارچه تیشرت شال روسری و لباس کار
                        اجراء ایده های طراحان محترم برای چاپ روی سطوح مختلف از خدمات ویژه چاپ صارم می باشد.
                        چاپ صارم افتخار دارد که تولیدات خود را با بالاترین کیفیت ارائه نموده و برای بکارگیری مدرنترین متدهای مبتکرانه همواره کوشاست .
                        ما با تضمین خدمات خود بوسیله کیفیت آن خود را از دیگران متفاوت می سازیم
                        ارائه خدمات نوین و متفاوت ما ارمغانیست که شما به دنبال آن بوده اید .
                        کارشناسان و متخصصان ما در بخش پشتیبانی چاپ صارم آماده پاسخگوئی به سوالات شما خواهند بود .
                        حتما شما نام چاپ صارم را به عنوان متخصص چاپ به یاد خواهیدداشت .
                        <i class="fa fa-quote-left"></i>
                    </h3>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div>

<hr />
