@model IEnumerable<DomainClasses.Models.Subject>

<section id="home">
    <!-- Carousel -->

    <div id="main-slide" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
        </ol>
        <!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="/Content/images/slider/33.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated2 white">
                            <span>جشنواره رنگ ها </span>
                        </h2>
                        <h3 class="animated3 white">
                            <span>مرکز چاپ صارم </span>
                        </h3>

                    </div>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="item">
                    <img class="img-responsive" src="@item.SubjectImage" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated2 white">
                                <span>@item.SubjectLead </span>
                            </h2>
                            <h3 class="animated3 white">
                                <span>@item.Authors </span>
                            </h3>
                            <p class="animated4 white">
                                <a href="/view/Subject/post/@item.SubjectId" class="slider btn btn-system btn-large">بازدید</a>
                            </p>
                        </div>
                    </div>
                </div>

            }

        </div>
        <!-- Carousel inner end-->
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div>

    <!-- /carousel -->
</section>

