@model DomainClasses.Models.Product
@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="container">
    <div class="row page-banner">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <img src="@Model.Imege" class="img-thumbnail" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text-right">
            <h1>@Model.Name</h1>
            <p>@Model.Describtion</p>
        </div>
        <a href="/orders/form/@Model.ProductId" class="btn-system border-btn btn-large btn-purple"> <i class="fa fa-shopping-cart"></i>  ثبت سفارش</a>

    </div>
</div>