@model IEnumerable<DomainClasses.Models.Chapter>

<ul class="dropdown">
    @foreach (var item in Model)
    {
        <li>
            <a href="/contents/Subjects/?chapter=@item.Name">
                @item.Name
            </a>
        </li>
    }
</ul>


