@model IEnumerable<DomainClasses.Models.Chapter>

<ul class="dropdown">
    @foreach (var item in Model)
    {
        <li>
            <a href="/view/Subject/list/@item.Name">
                @item.Name
            </a>
        </li>
    }
</ul>


